/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

table {
  width: 100%;
  height: auto;
  border: 3px solid black;
  /* position: relative; */
} 

th {
  height: 80px;
  width: 80px;
  text-align: center;
  top: 0;
}

tr {
  height: 30px;
}

div {
  display: table;
  text-align: center;
  border: 1px solid black;
  bottom: 0;
  border: 2px solid black;
}

div:hover {
  background-color: lightskyblue;
}
